<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Default" connectionString="Data Source=.\..\..\..\database.db;Version=3;" providerName="System.Data.Sqlite.Core"/>
		<add name="Token" connectionString="ODY5Njg2NDk3MjAzMzM1MTk5.YQB0qg.HU9yDinXQg9Res0AJT9Gdknpkn0"/>
	</connectionStrings>
</configuration>